body {
		background-image: url("http://i.stack.imgur.com/pMAiU.jpg");
		}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
     float: left;
     width: 100pt;
}

a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #9900CC;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #909090 ;
}
 section {
             float: left;
             width: 41%;
             height: 200px;
             background-color: grey;
             color: white;
             }
article { 
			 float: right;
			
}
h1 { 
		font-size:35pt;
		color: black;
		text-align: center;
		}
h2 { 
		text-align: center;
		}
h3 { 
		text-align: center;
		}
h4 { 
		text-align: center;
		}
button { 
		position: absolute; 
		text-align: center;
}
caption { 
			font-size: 35pt;
			color: black;
			}
table {
             float: left;
             width: 40%;
             height: 500px;
             background-color: white ;
         }