	body { 
		background-image: url("http://i.stack.imgur.com/jGlzr.jpg")
		}
	td { width: 100px
	}
	table { background-color: white;
		
	}
	.homework { background-color: #FFC0CB; 
	}
	.mgmt { background-color: #FFC0CB;
	}
	.resume { background-color: #FFC0CB;
	}
	.J { background-color: #FAFAD2
	}
	.L { background-color: #FAFAD2
	}
	.G { background-color: #FAFAD2
	}
	.FF { background-color: #FAFAD2
	}
	.N { background-color: #E0FFFF
	}
	.D { background-color: #E0FFFF
	}
	.BD { background-color: #E0FFFF
	}
	h1 {
		color: blue;
		font-size: 28pt;
	}
	caption { 
		color: blue;
		font-size: 20pt;
	}