	body { 
		background-image: url("http://i.stack.imgur.com/jGlzr.jpg")
		}
	td { width: 100px
	}
	table { background-color: white;
			border-radius: 20px;
	}
	th { border-radius: 20px;
	}
	tr { border-radius: 20px;
	}
	h1 {
		color: blue;
		font-size: 28pt;
	}
	caption { 
		color: blue;
		font-size: 20pt;
	}